td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: relative;
	margin: auto;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
  }

button {
    position: absolute;
    top: 50%;
    background-color: #333333;
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
    color: whitesmoke; 
    border: 2px solid #333333;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 2px 2px 6px #333333, -2px 2px 6px #333333;
}

button:hover {
    background-color:whitesmoke;
    color: #333333;
}


.endgame{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
    font-size: 2.4rem;
    font-weight: bolder;
}
